:root {
  --clr-primary-400: hsl(27, 24.4%, 91.2%);
  --clr-primary-500: hsl(34, 78%, 91%);
  --clr-primary-600: hsl(30, 81%, 65%);
  --clr-primary-800: hsl(29, 62%, 45%);

  --clr-text: hsl(204, 10.9%, 18.0%);
  --ff-primary-400: 'IBM Plex Sans', sans-serif;

  --clr-terminal-cyan: hsl(180, 100%, 50%);
  --clr-terminal-blue: hsl(203, 100%, 60%);
  --clr-terminal-magenta: hsl(307, 22%, 59%);
  --clr-terminal-white: hsl(0, 0%, 100%);
  --clr-terminal-brown: hsl(49, 100%, 38%);
  --clr-terminal-purple: hsl(307, 22%, 59%);
  --clr-terminal-error: hsl(0, 100%, 50%);
  --clr-terminal-success: hsl(120, 100%, 25%);
  --clr-terminal-header: hsl(247, 16%, 23%);

}